</div>
	<div class="right"></div>
	<div style="clear: both;"></div>
	<div id="footer">
		<div class="shadow"></div>
		<p style="padding: 0;">Copyright Branche Channel BV</p>
	</div>
</div>
</body>
</html>