body {
	background: #f8f8f8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	margin: 0;
	padding: 0;
}

* {
	outline: none;
}

@font-face {
    font-family: 'aero_maticsbold';
    src: url('../fonts/aero_matics_bold-webfont.eot');
    src: url('../fonts/aero_matics_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aero_matics_bold-webfont.woff') format('woff'),
         url('../fonts/aero_matics_bold-webfont.ttf') format('truetype'),
         url('../fonts/aero_matics_bold-webfont.svg#aero_maticsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'DINRegular';
	src: url('../fonts/ff_din_regular-webfont.eot');
    src: url('../fonts/ff_din_regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/ff_din_regular-webfont.woff') format('woff'), 
	     url('../fonts/ff_din_regular-webfont.ttf') format('truetype'), 
	     url('../fonts/ff_din_regular-webfont.svg#DINRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DINBold';
	src: url('../fonts/ff_din_bold-webfont.eot');
    src: url('../fonts/ff_din_bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ff_din_bold-webfont.woff') format('woff'), 
		 url('../fonts/ff_din_bold-webfont.ttf') format('truetype'), 
		 url('../fonts/ff_din_bold-webfont.svg#DINBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

a:link, a:visited, a:active {
	color: #666;
	text-decoration: none;	
}

a:hover {
	color: #000;
	text-decoration: none;	
}

a.button {
	font-family: 'DINBold', sans-serif;
	padding: 5px 18px;
	background: #ccc;
	border: 1px solid #999;
	color: #666 !important;
	float: right;
	margin-left: 10px;
}

a.button:hover {
	background: #999;
	color: #fff !important;
	text-decoration: none !important;
}

.title h1, .title h2 {
	float: left;
}

.title .options {
	float: right;
	padding-top: 32px;
	font-size: 16px;
}

.select {
	float: right;
	margin-bottom: 20px;
}

h1 {
	font-family: 'aero_maticsbold', 'DINRegular', sans-serif;
	font-weight: normal;
	font-size: 30px;
	color: #666;
}

h2 {
	font-weight: normal;
	font-size: 20px;
	color: #666;
	margin-top: 30px;
	margin-bottom: 10px;
}

p {
	line-height: 20px;

}

img {
	border: none;
}

input[type=text], input[type=password] {
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	outline: none;
	width: 200px;
}

.bestellen input[type=text] {
	float: left;
	width: 580px;
}

input[type=submit], input[type=button] {
	background: #ccc;
	border: 1px solid #999;
	padding: 5px 20px;
	font-family: 'DINBold', sans-serif;
	font-size: 14px;
	color: #666;
	margin: 0;
}

input[type=submit]:hover, input[type=button]:hover {
	background: #999;
	color: #fff;
	cursor: pointer;
}

table {
	width: 100%;
}

table, tr, td, th {
	padding: 0;
	margin: 0;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
}

th, td {
	padding: 5px 0;
}

.overview td, .overview th {
	padding: 5px 10px;
}

.overview th {
	background: #333;
	color: #fff;
	padding: 10px;
}

.overview th:first-child {
	border-radius: 5px 0 0 0;
}

.overview th:last-child {
	border-radius: 0 5px 0 0;
}

.overview tr:nth-child(odd) {
	background: #eee;
}

.overview tr:last-child td {
	background: #ddd;
}

.overview tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

.overview tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
	text-align: right;
}

.overview tr:last-child td:last-child a {
	padding: 0 0 0 5px;
}

.shadow {
	position: relative;
	z-index: 100;
	height: 8px;
	width: 100%;
	background: url(../images/shadow.png) no-repeat top center;
}

.container {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

#header {
	margin: -30px -30px 0 -30px;
	background: #eee;
	padding: 0 30px;
}

#header .container {
	height: 130px;
	padding: 0 30px;
	width: 940px;
}

#header .logo {
	float: left;
	height: 74px;
	width: 200px;
	margin: 23px 0;
}

#header .top {
	float: right;
	padding: 15px 10px 0 0;
	font-family: 'DINRegular', sans-serif;
}

#header ul {
	margin: 62px 0 0 0;
	padding: 0;
	list-style: none;
	clear: right;
	float: right;
}

#header li {
	float: left;
	margin: 0;
	padding: 0;
}

#header li a {
	display: block;
	font-family: 'DINRegular', sans-serif;
	padding: 5px 0px;
	margin: 0 0 0 30px;
	font-size: 16px;
	color: #666;
}

#header ul li a.active {
	color: #000;
}

#header ul ul {
	position: absolute;
	clear: both;
	display: none;
	width: 200px;
	z-index: 9999;
	padding: 25px 0 0 0 !important;
	margin: 0;
}

#header ul ul li a {
	font-size: 16px;
	color: #fff;
	width: 200px;
	padding: 10px 20px;
	background: rgba(0,0,0,0.8);
}

#header ul ul li a:hover, #header ul ul li a.active {
	color: #96be0d;
	background: rgba(0,0,0,0.8);	
}

#content.container {
	min-height: 750px;
}

#content .left, #content .right {
	float: left;
	height: 750px;
	width: 15px;
}

#content .left {
	background: url(../images/content_left.png) no-repeat top right;
}

#content .right {
	background: url(../images/content_right.png) no-repeat top left;
}

#content .content {
	float: left;
	width: 910px;
	background: #fff;
	padding: 30px 30px 100px 30px;
	min-height: 690px;
}

.content a {
	color: #e2007a;
}

.content a:hover {
	text-decoration: underline;
}

#footer {
	position: relative;
	background: #f8f8f8;
	width: 970px;
	margin: 0 0 0 15px;
	padding: 0 0 20px 0;
	font-family: 'DINRegular', sans-serif;
	text-align: center;
	color: #999;
}