<span style='color: #000'>391 frames</span>	<span style='color: #900'>15,872 KB</span>	<span style='color: #090'>1,118.84 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />